@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap);
@font-face{
    font-family: Star_Wars_Font;
    src: url(Starjedi.ttf);
}

:root {
    --primary-color: #ffbf00;
    --secondary-color: #a8a8a8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Encode Sans SC', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: 
    url("images/background.gif");
}

.title{
    font-size: 7vmin;
    font-family: Star_Wars_Font;
    text-align: center;
    user-select: none;
    color:black;
    text-shadow: 3px 0 0 var(--primary-color), 
    -3px 0 0 var(--primary-color), 
    0 3px 0 var(--primary-color), 
    0 -3px 0 var(--primary-color), 
    3px 3px var(--primary-color), 
    -3px -3px 0 var(--primary-color), 
    3px -3px 0 var(--primary-color), 
    -3px 3px 0 var(--primary-color);
}

.sub-title {
    text-align: center;
    font-size: 4vmin;
    color: var(--primary-color);
    text-shadow: 1px 1px 3px #000;
}

.main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 250px;
    margin: 5vh 5%;
    padding: 0 .5rem;
    background: #000001;
    border: 2px solid var(--primary-color);;
    border-radius: 3px;
}

fieldset h3{
    margin: 1rem 0;
    color: var(--primary-color);
    text-shadow: 1px -1px 1px #000;
}

fieldset *{
    color: var(--secondary-color); 
}

fieldset p{
    margin: 0.5rem 0;
}

fieldset p span{
    color: var(--primary-color);
}


::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #1b1b1b;}
::-webkit-scrollbar-thumb {background: #b5b5b5;}
::-webkit-scrollbar-thumb:hover {background: #555;}